body {
  padding-top: 50px;
}

.tile-image {
    max-width: 313px;
}

.tile-header-bg {
    width: 313px;
    height: 71px;
    background: url(http://farmlandfoods.dev/sites/all/themes/farmlandfoods/images/tile-header-blue.jpg) no-repeat;
    color: #ffffff;
    padding: 8px 8px;
    font-size: 26px;
    line-height: 29px;
}

@media (max-width: 767px){

    body {
        background-color: #d58512;
    }

    .list-inline > li {
        width: 100%;
    }

    .filter-expand-link, .filter-expand-link.collapse.in{
        display: block;
    }
    .filter-expand-label{
        display: none;
    }
    .closed-mobile{
        display: none;
    }
}

@media (min-width: 768px) {
    body {
        background-color: #ff0000;
    }
    .filter-expand-link, .filter-expand-link.collapse.in{
        display: none;
    }
    .filter-expand-label{
        display: inline-block;
    }
    .closed-mobile {
        display: block !important;
    }

}


@media (min-width: 992px) {
    body {
        background-color: #00b3ee;
    }
    .list-inline > li {
        /*width: 100%;*/
    }
    .filter-expand-link, .filter-expand-link.collapse.in{
        display: none;
    }
    .filter-expand-label{
        display: inline-block;
    }
    .closed-mobile{
        display: block !important;
    }
}


@media (min-width: 1200px) {
    body {
        background-color: #5cb85c;
    }
    .list-inline > li {
        /*width: 100%;*/
    }
    .filter-expand-link, .filter-expand-link.collapse.in{
        display: none;
    }
    .filter-expand-label{
        display: inline-block;
    }
    .closed-mobile{
        display: block !important;
    }
    .container {
        width: 970px;
    }
}

.state-indicator {
    position: absolute;
    top: -999em;
    left: -999em;
}
.state-indicator:before { content: 'desktop'; }

/* small desktop */
@media all and (max-width: 1200px) {
    .state-indicator:before { content: 'small-desktop'; }
}

/* tablet */
@media all and (max-width: 1024px) {
    .state-indicator:before { content: 'tablet'; }
}

/* mobile phone */
@media all and (max-width: 768px) {
    .state-indicator:before { content: 'mobile'; }
}
